<div class="mx-auto" style="width: 300px;">
  <h4>My Favorites</h4>
</div>
<% favorites.contents.each do |pet_id| %>
<section id="fav-pets-<%= pet_id %>">
  <%= pet = Pet.find(pet_id) %>
  <h2><%= link_to "#{pet.name}", "/pets/#{pet_id}", method: :get %></h2>
  <%= image_tag(pet.image) %>
  <p><%= button_to 'Remove From Favorites', "/favorites/#{pet.id}", method: :delete %></p>
</section>
<% end %>
