<h3>Application for pet(s):</h3>
  <b>
  <% @app_pet_ids.each do |pet_id| %>
  <% pet = Pet.find(pet_id) %>
  <ul><%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %></ul>
  <% end %>
  <b>
  <b>
  <b>
  <b>
  <ul> Name: <%= @application.name %></ul>
  <ul> Address: <%= @application.address %></ul>
  <ul> City: <%= @application.city %></ul>
  <ul> State: <%= @application.state %></ul>
  <ul> Zip: <%= @application.zip %></ul>
  <ul> Phone Number: <%= @application.phone_number %></ul>
  <ul> Description: <%= @application.description %></ul>
