<h1>Adopt Don't Shop</h1></b>
<h2>Reviews for <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}", method: :get %></h2></b>
<%= link_to "All Pets", "/pets", method: :get %>
<%= link_to "All Shelters", "/shelters", method: :get %>
<% @shelter.reviews.each do |review| %>
 <ul> Title:<%= review.title %></ul>
 <ul> Rating:<%= review.rating %></ul>
 <ul> Content:<%= review.content %></ul>
 <%= image_tag(review.image) %>
<% end %>
