<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
    <title>AdoptPaired</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style media="screen">
      html {
        background: url(https://media.istockphoto.com/photos/kitten-and-dachshund-puppy-wrestle-outside-picture-id1174000357?b=1&k=6&m=1174000357&s=170667a&w=0&h=ekAEvVwWIO3bAqp1DzZquQxtmvh8-uqVPgmING9TmoE=) no-repeat center fixed;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    
    <div class="mx-auto" style="width: 1000px;">
      <h1>Adopt Don't Shop
        <small class="text-muted"> A Denver Based Pet Adoption Website
      </h1>
    </div>

    <header> 
      <div class="container">
        <div class="row">
          <div class="col">
            <h6><a href="/shelters">All Shelters</a></h6>
          </div>
          <div class="col">
            <h6><a href="/pets">All Pets</a></h6>
          </div>
        </div>
      </div>
    </header>

      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav-bar"> 
        <div class="mx-auto" style="width: 250px;">
          <h4><a href="/favorites">My Favorites(<%= favorites.count%>)</a></h4> 
        </div>
      </nav> 


    <% flash.each do |type, message| %>
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
